{% extends "base.html" %}

{% block content %}
        <h1>Build a Blog!</h1>
        <form action="/signup" method='post'>
            <div><label for="email">Email</label>
            <input name="email" type="email" value="{{email}}">
                </div>
                <div></div><label for="password">Password</label>
                <input name="password" type="password">
                </div>
                <div><label for="verify">Verify Password</label>
                    <input name="verify" type="password">
                </div>
        <input type="submit" value="Register">
        </form>

        <hr />

{% endblock %}
